body{
  background: #f4f7f7;
}
.header-text h4{
  color:#454552
}
.header-text h1{
  color:#444;
  text-shadow: 0 1px 1px #444;
  font-weight: bold;
}
#editor,
#preview{
  height: 500px;
  max-height: 500px;
  margin-bottom: 20px;
  margin-top: 20px;
}
.panel{
  padding: 10px;
  max-height:500px;
  overflow-y: auto;
}
.container{
  padding-bottom: 30px;
}
#preview .markdown-body{
  height: 500px;
  max-height: 500px;
  margin-bottom: 20px;
}
